{% extends 'base.html' %}

{% block title %}Trang chủ{% endblock %}

{% block content %}

<h2>Danh mục sản phẩm</h2>

<ul>
    {% for category in categories %}
        <li>
            <a href="{% url 'product_by_category' category.id %}">
                {{ category.name }}
            </a>
        </li>
    {% endfor %}
</ul>


<hr>

<h2>Sản phẩm mới</h2>
<form method="get" style="margin-bottom: 20px;">
    <input type="text" name="q" placeholder="Tìm sản phẩm..."
           value="{{ request.GET.q }}">

    <select name="category">
        <option value="">-- Tất cả danh mục --</option>
        {% for cat in categories %}
            <option value="{{ cat.id }}"
                {% if request.GET.category == cat.id|stringformat:"s" %}selected{% endif %}>
                {{ cat.name }}
            </option>
        {% endfor %}
    </select>

    <select name="sort">
        <option value="">Mới nhất</option>
        <option value="price_asc"
            {% if request.GET.sort == 'price_asc' %}selected{% endif %}>
            Giá tăng dần
        </option>
        <option value="price_desc"
            {% if request.GET.sort == 'price_desc' %}selected{% endif %}>
            Giá giảm dần
        </option>
    </select>

    <button type="submit">Lọc</button>
</form>
<div style="margin-top:20px; text-align:center;">
    {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}&{{ request.GET.urlencode|cut:'page=' }}">
            ← Trước
        </a>
    {% endif %}

    <span>Trang {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}</span>

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}&{{ request.GET.urlencode|cut:'page=' }}">
            Sau →
        </a>
    {% endif %}
</div>



<div>
    {% for product in page_obj %}
        <div style="border:1px solid #ccc; padding:10px; margin-bottom:10px;">
            {% if product.image %}
                <img src="{{ product.image.url }}"
                width="200"
                style="display:block; margin-bottom:10px;">
                {% endif %}
            <h3>
                <a href="{% url 'product_detail' product.id %}">
                    {{ product.name }}
                </a>
            </h3>

            <p>Danh mục: {{ product.category.name }}</p>
            <p>Giá: {{ product.price }} VNĐ</p>

            <button class="add-to-cart-btn"
                    data-product-id="{{ product.id }}">
                Thêm vào giỏ
            </button>

        </div>
    {% empty %}
        <p>Chưa có sản phẩm</p>
    {% endfor %}
</div>

<script>
document.addEventListener('click', function (e) {
    if (e.target.classList.contains('add-to-cart-btn')) {
        const productId = e.target.dataset.productId;

        fetch(`/add-to-cart/${productId}/`, {
            method: 'POST',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}',
            },
        })
        .then(res => res.json())
        .then(data => {
            alert(data.message);
        });
    }
});
</script>


{% endblock %}

