<header>
    <h1>LaptopQTK Store</h1>

    <nav>
        <a href="/">Trang chủ</a>
        <a href="#">Sản phẩm</a>
        <a href="{% url 'cart_detail' %}">Giỏ hàng</a>

        {% if user.is_authenticated %}
            <span>Xin chào, {{ user.username }}</span>
            <a href="{% url 'my_orders' %}">Đơn hàng của tôi</a>
            <a href="#">Đăng xuất</a>
        {% else %}
            <a href="#">Đăng nhập</a>
            <a href="#">Đăng ký</a>
        {% endif %}
    </nav>
</header>
